@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Spartan:wght@200&family=Manrope:wght@200;800&family=Maven+Pro:wght@500&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Questrial&family=Spartan:wght@100&display=swap');
:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --light-orange: orange;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Very-Dark-Blue);
    color: white;
    font-family: 'Fredoka', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container, .thank-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-Blue);
    border-radius: 2rem; 
    width: 26rem;
    padding: 20px;
}

.start-svg{
    display: flex;
    width: inherit;
    margin: 1rem;

}

.star-container{
    background-color: hsl(211, 17%, 26%);
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 1.5rem;
}

.text-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.text-container h1{
    margin-top: 10px;
    margin-bottom: 1rem;
    color: var(--White);
    font-weight: 700;
}

.text-container .text{
    color: var(--Light-Grey);
    font-weight: 400;
}
.text-thank{
    padding: 7px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--Light-Grey);
    text-align: center;
}

.btns-container{
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    margin: 1.8rem 0;
    color: var(--Light-Grey);
}

.img-container{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.rating-display{
    color: var(--light-orange);
    background-color: hsl(211, 17%, 26%);
    padding: 5px 10px;
    border-radius: 1.2rem;
    margin: 1.5rem;
}

.rating-btn{
    background-color:  hsl(211, 17%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

.submit-btn{
    background-color: var(--Orange);
    width: inherit;
    text-align: center;
    padding: 0.8rem;
    border-radius: 25px;
    margin: 1rem;
    width: 23rem;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
}

.orange{
    background-color: var(--Orange);
    color: var(--White);
}

a{
    color: white;
    text-decoration: none;
}

.submit-btn:hover{
    background-color: var(--White);
    color: var(--Orange);
    
}
a:hover{
    color: var(--Orange);
}

.rating-btn:hover{
    background-color: var(--Medium-Grey);
    color: white;    
}

.hidden{
    display: none;
}

.attribution { 
    margin-top: 5rem;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }